:root { 
--gray_700:#63686c; 
--gray_400:#bfc4c9; 
--gray_401:#cacaca; 
--amber_600:#f4b301; 
--amber_700:#f5a302; 
--gray_900:#121416; 
--amber_300:#fed154; 
--bluegray_900:#2a2f35; 
--orange_50:#fef4e0; 
--bluegray_400:#8a8a8a; 
--white_A701:#fffffe; 
--white_A700:#ffffff; 
--amber_700_33:#f5a30233; 
--bluegray_901:#2d2d2d; 
}